.carousel {
  max-width: 100%;
  margin: 20px auto;
  overflow: hidden;
  position: relative;
}

.carousel-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #ffffff;
  font-size: 2rem;
  z-index: 100;
  cursor: pointer;
  width: 30px; /* Width of the clickable arrow area */
  height: 30px; /* Height of the clickable arrow area */
  text-align: center;
  line-height: 30px; /* Vertically center the arrow icon */
}

.left-nav {
  left: 0; /* Align to the left edge of the carousel container */
}

.right-nav {
  right: 0; /* Align to the right edge of the carousel container */
}
.carousel-images {
  display: flex;
  transition: transform 0.5s ease-out;
}

.carousel-image {
  min-width: calc(100% / 3); /* Each image takes up 1/3 of the carousel width */
  max-width: calc(100% / 3); /* Ensuring the image does not exceed 1/3 */
  box-sizing: border-box;
  padding: 0 5px; /* Optional spacing between images */
  cursor: pointer; /* Add this line */
  transition: all 0.5s ease; /* Smooth transition for scaling and opacity */


}
.carousel-indicators {
  text-align: center;
  padding-top: 10px;
}

.carousel-indicator {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  margin: 0 5px;
  cursor: pointer;
}

.carousel-indicator.active {
  background-color: var(--primary-color);
}


.carousel-image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s ease, opacity 0.3s ease;

}
.carousel-image.selected img {
  display: none; /* Hide the image when selected */
}

.carousel-image.selected .carousel-description {
  width: 100%;
  height: 100%;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px; /* Optional: to match the image border-radius */
}

.carousel-image:hover img {
  transform: scale(1.05); /* Slightly enlarges the image */
  opacity: 0.9; /* Makes the image slightly transparent */
}


/* Responsive Design: Adjustments for smaller screens */
@media (max-width: 768px) {
  .about-me-container {
    margin: 30px 10px; /* Less margin on smaller screens */
  }

  .about-me-container h2 {
    font-size: 2rem; /* Slightly smaller font size for the title */
  }

  .about-me-container h3 {
    font-size: 1.5rem; /* Adjust subheading size */
  }

  .carousel-nav {
    width: 35px;
    height: 35px;
    line-height: 35px;
  }
  
}